<html>
<head>
    <title>{{ Username }}'s Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="msapplication-tap-highlight" content="no" />
    <script src="/static/js/bundle_status.js"></script>
    <link rel="stylesheet" href="/static/css/Benome.css">
    <style>
body {
    background-color: #eee;
}

div#cluster-container {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    top: 0%;
    -webkit-touch-callout: none;
}
    </style>
    <script>
    $(function() {
        var status = new STATUS(),
            $clusterContainer = $('#cluster-container');

        status.init({
            localOnly: true,
            instanceID: '{{ Username }}',
            appOptions: {
                container: $clusterContainer,
                data: {{ GraphData|safe }},
                userName: '{{ Username }}',
                firstName: '{{ FirstName }}',
                exportID: '{{ ExportID }}',
                bgColor: 'light'
            }
        });
        window.s = status;
    });

    </script>
</head>
<body>
  <div autoscroll="false" id="cluster-container"></div>
</body>
</html>
