<html>
<head>
    <title>Benome Breakdown</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="msapplication-tap-highlight" content="no" />
    <script src="static/js/bundle_breakdown.js"></script>
    <link rel="stylesheet" href="static/css/Benome.css">
    <script>
    $(function() {
        var benomeBreakdown = new BREAKDOWN(),
            $clusterContainer = $('#cluster-container');

        benomeBreakdown.init({
            container: $clusterContainer,
            localOnly: !'{{ user }}',
            instanceID: '{{ user }}'
        });
        window.b = benomeBreakdown;
    });

    </script>
</head>
<body>
  <div autoscroll="false" id="cluster-container"></div>
</body>
</html>
