<html>
<head>
    <title>Benome Streamgraph</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="msapplication-tap-highlight" content="no" />
    <script src="/static/js/bundle_streamgraph.js"></script>
    <link rel="stylesheet" href="/static/css/Benome.css">
    <style>
body, #cluster-container, .benome-container, .benome {
    background-color: transparent !important;
}
div#cluster-container {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    top: 0%;
    -webkit-touch-callout: none;
}
    </style>
    <script>
    $(function() {
        var streamgraph = new STREAMGRAPH(),
            $clusterContainer = $('#streamgraph-container');

        streamgraph.init({
            localOnly: true,
            instanceID: '{{ Username }}-Streamgraph',
            appOptions: {
                container: $clusterContainer,
                localOnly: true,
                data: {{ GraphData|safe }},
                mergedGraph: '{{ MergedGraph }}' == 'True',
                exportID: '{{ ExportID }}',
                bgColor: 'light',
                backgroundEnabled: false
            }
        });
        window.s = streamgraph;
    });

    </script>
</head>
<body>
  <div autoscroll="false" id="streamgraph-container"></div>
</body>
</html>
